@font-face {
    font-family: Google Sans;
    src: url(../../fonts/GoogleSans-Regular.ttf);
}

@font-face {
    font-family: Editorial;
    src: url(../../fonts/PPEditorialNew-Regular-BF644b214ff145f.otf);
}

@font-face {
    font-family: Coolvetica Rg;
    src: url(../../fonts/coolvetica\ rg.otf);
}



