header {
    position: fixed;
    inset: 0 0 auto 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem;

    z-index: 1000;
}

.menu-toggle {
    width: 40px;
    height: 40px;

    z-index: 2000;
}