header {
    position: fixed;
    inset: 0 0 auto 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    z-index: 9999;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    
    opacity: 0;
    pointer-events: none;
    
    transition: opacity 0.5s ease-in-out;
}

/* Quando o JS adicionar esta classe, a tela escurece e bloqueia cliques */
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.top-bar {
    opacity: 0;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 1rem;

    /* background-color: var(--color-golden); */
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px var(--color-golden) solid;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.03) inset;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    z-index: 2000;

    animation: fadeIn 1s ease-in-out 2.25s forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.menu-word {
    font-family: var(--font-main);
    font-size: 1rem;
    /* color: black; */
    color: var(--color-golden);
    cursor: pointer;
}

.menu-toggle {
    position: relative;
    width: 20px;
    height: 20px;
}

.menu-toggle span {
    position: absolute;
    width: 100%;
    height: 2px;
    /* background-color: black; */
    background: var(--color-golden);
    left: 0;
    transition: 
        top 0.25s ease 0.25s,
        transform 0.25s ease;
}

.menu-toggle span:first-child {
    top: 5px;
}

.menu-toggle span:last-child {
    top: 15px;
}

.menu-toggle.active span {
    transition:
        top 0.25s ease,
        transform 0.25s ease 0.25s;
}

.menu-toggle.active span:first-child {
    top: 10px;
    transform: rotate(45deg);
}

.menu-toggle.active span:last-child {
    top: 10px;
    transform: rotate(-45deg);
}

.menu {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, visibility 0.5s ease;

    z-index: 1500;
}

.menu ul {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    opacity: 0;
    transform: translateY(4rem);
}

.menu.active {
    opacity: 1;
    visibility: visible;
}

.menu.active ul {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.25s ease 0.125s, transform 0.25s ease 0.125s;
}

.menu-itens {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-itens a {
    color: white;
    font-size: 2rem;
    font-weight: normal;

    transition: 0.25s ease;
}

.active-page a {
    color: var(--color-golden);
}

.menu-itens a:hover {
    color: var(--color-golden);
}

@media (min-width: 768px) {

    header {
        opacity: 0;
        animation: fadeIn 1s ease-in-out 2.25s forwards;
    }

    .top-bar {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .menu {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 1;
        visibility: visible;
        transition: none;

        height: 2rem;
        padding: 0 1rem;
        border-radius: 1rem;

        /* background-color: var(--color-golden); */
        /* background-color: black; */

        background-color: rgba(0, 0, 0, 0.4);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);

        border: 1px var(--color-golden) solid;
    
        z-index: 2500;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        opacity: 1;
        transform: translateY(0);
    }

    .menu-itens a {
        color: white;
        /* color: white; */
        font-size: 1rem;
        font-weight: normal;

        transition: 0.25s ease;
    }

    .active-page a {
        font-weight: normal;
        /* opacity: 0.5; */
        color: var(--color-golden);
    }

    .menu-itens a:hover {
        color: black;
        /* opacity: 0.5; */
        color: var(--color-golden);
    }
}








