*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-google);
}

/* O asterisco (*) seleciona absolutamente todas as tags do HTML */
*, *::before, *::after {
    &::-webkit-scrollbar {
        display: none !important;
    }
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden; 
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}

a {
    font-weight: normal;
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

