body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    opacity: 0;
    margin-top: auto;
    padding-top: 0;
    animation: fadeIn 1s ease-in-out 2.25s forwards;
}

footer #contact-link {
    display: none;
}

#intro-container {
    height: auto;
    flex-shrink: 0;
}

#swipe-up {
    display: none;
}

#page-title {
    position: inherit;
    margin: 96px 0 auto 0;
}

#contacts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;

    opacity: 0;
    animation: fadeIn 1s ease-in-out 2.25s forwards;
}

#contact-1 {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-2 {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-itens a {
    font-size: 1.5rem;
    color: white;
    transition: 0.25s ease;
}

.contact-itens a:hover {
    color: var(--color-golden);
}

@media (min-width: 768px) {
    #contacts {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;

        opacity: 0;
        animation: fadeIn 1s ease-in-out 2.25s forwards;
    }

    #contact-1, #contact-2 {
        align-self: auto;
    }

}