body {
    background-color: #a81a19;
}

#overview div {
    color: #fffacd;
}

footer{
    background-color: #a81a19;
}

@keyframes blink {
    0% {color: white;}
    25% {color: var(--color-golden);}
    75%, 100% {color: white;}
}