.top-bar {
    animation: none;
    opacity: 1;
    /* já vejo */
}

body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#category-title {
    text-align: center;
    margin: 96px 0 32px 0;
    color: var(--color-golden);
    font-size: clamp(3rem, 4vw + 1rem, 5rem);
    line-height: 0.85;
    animation: slideDown 1s cubic-bezier(0.25, 1, 0.4, 1) forwards;
}

@keyframes slideDown {
    from {transform: translateY(-200px);}
    to {transform: translateY(0);}
}

