#category-link-1 .categories-title,
#category-link-1 .categories-subtitle,
#category-link-1 .categories-preview {
    align-self: flex-start;
}

#category-link-2 .categories-title,
#category-link-2 .categories-subtitle,
#category-link-2 .categories-preview {
    align-self: flex-end;
}

.categories-preview img {
    border-radius: 0.5rem;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Não distorce a imagem do portfólio */
    opacity: 0;
}

#category1 img,
#category2 img {
    /* Animação de fade de 12 segundos totais */
    animation: fadeCategories 10s infinite ease-in-out;
}

#category1 img:nth-child(1) { animation-delay: 0s; }
#category1 img:nth-child(2) { animation-delay: 5s; }

#category2 img:nth-child(1) { animation-delay: 0s; }
#category2 img:nth-child(2) { animation-delay: 5s; }


@keyframes fadeCategories {
    0% { opacity: 0; }
    4% { opacity: 1; }   /* Transição de entrada suave */
    46% { opacity: 1; }  /* Tempo que a foto fica estática aparecendo */
    50% { opacity: 0; }  /* Transição de saída suave */
    100% { opacity: 0; }
}