body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#category-title {
    margin: 96px 0 32px 0;
    color: var(--color-golden);
    font-size: 1.5rem;
    animation: slideDown 1s cubic-bezier(0.25, 1, 0.4, 1) forwards;
}

@keyframes slideDown {
    from {transform: translateY(-200px);}
    to {transform: translateY(0);}
}

#gallery-section {
    max-width: 1000px;
    padding: 10px;
    column-count: 2;
    column-gap: 5px;
    gap: 5px;
}

.gallery-item {
    cursor: pointer;
    margin-bottom: 5px;
}

.gallery-item img:hover {
    filter: brightness(0.8);
}

/* Esconde de forma absoluta as setas anteriores e próximas do Fancybox */
.fancybox__nav, 
.f-button.is-next, 
.f-button.is-prev {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

.is-left, .f-button{
    display: none !important;
}

/* .f-button[title="Close"] {
    display: flex !important;
    visibility: visible !important;
    background: none;
}

.f-button[title="Close"]:hover {
    background: none !important;
} */







