body {
    background-color: #303131;
}

#overview div {
    color: white;
}

footer{
    background-color: #303131;
}

@keyframes blink {
    0% {color: white;}
    25% {color: var(--color-golden);}
    75%, 100% {color: white;}
}