body {
    background-color: #ffffff;
}

#expo-container {
    margin-top: 64px;
}

#overview div {
    color: black;
}

footer{
    background-color: #ffffff;
}

@keyframes blink {
    0% {color: black;}
    25% {color: var(--color-golden);}
    75%, 100% {color: black;}
}

