body {
    background-color: #240046ff;
}

#expo-container {
    margin-top: 32px;
}

#overview div {
    color: white;
}

footer{
    background-color: #240046ff;
}

@keyframes blink {
    0% {color: white;}
    25% {color: var(--color-golden);}
    75%, 100% {color: white;}
}