body {
    background-color: black;
}

#video-1, #video-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4/3;
}

#video-1 video, #video-2 video {
    height: 100%;
    width: auto;
    object-fit: contain;
}

#video-1 {
    background-color: black;
}

#video-2 {
    background-color: white;
}

.expo-frames-posts-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.expo-frames-posts {
    aspect-ratio: 4/5;
    width: 50%;
}

#overview div {
    color: white;
}

footer{
    background-color: black;
}

@keyframes blink {
    0% {color: white;}
    25% {color: var(--color-golden);}
    75%, 100% {color: white;}
}